{% for faq in include.data %}
  <div class="panel-group" id="faq-parent-{{ faq.faqId }}">
    {% for faqQuestion in faq.questions %}
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#faq-parent-{{ faq.faqId }}" href="#faq-{% increment questionId %}">
              {{ faqQuestion.question }} >
            </a>
          </h3>
        </div>
        <div id="faq-{% increment answerId %}" class="panel-collapse collapse">
          <div class="panel-body">
            {{ faqQuestion.answer }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}