---
title: Kontakt och bokning
layout: global
ingress-text: Vi hjälper gärna er organisation, kommun eller parti att hitta nya sätt att
  engagera och skapa processer för deltagande. Kontakta oss för att boka in en föreläsning,
  workshop eller konsultation.
---

<div class="container">

  {% include content/page-header.html %}

  <div class="row mb-4">
    <div class="col-lg-10 offset-lg-2">

        {% for item in site.crew %}
            <div class="media flex-wrap">
              <img class="d-flex mb-2 mr-2 mw-100" src="{{site.baseurl}}{{item.image}}" width="250">
              <div class="media-body mb-2">
                  <h2 class="mb-1">{{item.title}}</h2>
                <p>
                  <strong>{{item.job}}</strong>
                </p>
                <p>
                  {{item.presentation}}
                </p>
                <p>
                  {{item.phone}},
                  <a href="mailto:{{item.mail}}">{{item.mail}}</a>
                </p>
              </div>
            </div>
        {% endfor %}
      </div>
  </div>
</div>
