---
layout: global
title: Framtidens demokrati i dina händer
---

<div class="container my-5">

  <div class="row">
    <div class="col">
      <h1 class="display-2">{{page.title}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p class="lead">{{site.description}}</p>
    </div>
  </div>

  <div class="d-flex flex-row mb-5">
    <div class="p-2"><a class="" href="{{full_base_url}}/about">Vadå demokrati?</a></div>
    <div class="p-2"><a class="" href="{{full_base_url}}/projects/digidem-guide">Vilka verktyg pratar ni om?</a></div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">

        <div class="card-block">
          <h5 class="card-title"><a class="" href="{{full_base_url}}/projects/digidem-open-lab">Sök till Digidem Open Lab i Göteborg</a></h5>
          <p class="card-text">Är mellan 18 och 25 år och vill undersöka, utveckla eller testa deltagande demokrati? Sök med ditt projekt och få betalda arbetsmöten och handledning en gång i veckan i tre måndader!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row"
    <div class="col">
      <img class="img-fluid" data-src="holder.js/200x90?auto=yes&text=Bild" style="width:100%">
    </div>
  </div>
</div>

<section id="projects" class="container my-5">

  {% include panels/projects.html %}

</section>

<hr>

<section id="contact" class="container my-5">

  <div class="row">
    <div class="col">

      <h2 class="display-4">Kontakt och bokning</h2>
      <p class="lead">Digidem Lab är en ideell organisation som arbetar med att främja deltagande demokrati på alla nivåer i samhället. Vi hjälper gärna er organisation, kommun eller parti att hitta nya sätt att engagera och skapa processer för deltagande.</p>

    </div>
  </div>

  {% include panels/team-compact.html %}

</section> <!-- /container -->
