---
title: Våra tjänster
description: Digidem Lab erbjuder nya verktyg och metoder för medborgardeltagande.
ref: services
# links:
# - title: Tillfälligt krispaket för dialogprocesser under Corona-krisen
#   url: "/uploads/Digidem Lab Krispaket.pdf"
image: "/uploads/usertesting-top.jpg"
ingress-text: Vi skapar medborgarcentrerade processer utifrån beprövade metoder för
  att särskilt nå underrepresenterade grupper.
contact: true
mission:
  title: Så här arbetar vi
  item:
  - title: Inkluderande deltagande
    image: "/uploads/paris-small.jpg"
    text: Vi skapar medborgarcentrerade processer utifrån internationellt beprövade
      metoder för att särskilt nå underrepresenterade grupper.
  - title: Säkerhet och flexibilitet
    image: "/uploads/workshop-small.jpg"
    text: Vi arbetar Decidim, den ledande digitala plattformen
      för medborgardeltagande med miljontals användare över hela världen.
  - title: Utbildning och support
    image: "/uploads/usertesting-small.jpg"
    text: Vi erbjuder utbildning och support från idé till genomförande av deltagarprocesser,
      inom såväl digital utveckling som fysiska metoder.
---

{% assign themes=site.themes | where:"lang", page.lang | reverse %}

<section id="services" class="section">
  <div class="container">
    {% for item in themes %}
      {% include teaser-icon.html %}
    {% endfor %}
  </div>
</section>

{% include mission.html %}
