<!-- FULLSCREEN MODAL CODE (.fullscreen) -->
<div class="modal fade fullscreen" id="menuModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <ul style="list-style-type:none;">
          <li><a href="#" class="big">Hello</a></li>
          <li><a href="#" class="big">A Menu Item</a></li>
          <li><a href="#" class="big">Another Item</a></li>
          <li><a href="#" class="big">This One Too!!</a></li>
          <li><a href="http://meagency.com" class="big">me.agency</a></li>
        </ul>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.fullscreen -->
