<!-- FULLSCREEN MODAL CODE (.fullscreen) -->
<div class="modal fullscreen" id="menuModal">
  <div class="modal-dialog m-0 p-0 h-100 w-100">
    <div class="modal-content h-100 border-0 bg-success text-primary">
      <div class="modal-header border-0">
        <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <ul class="nav">
          {% for item in site.data.menu %}
            <li class="nav-item">
              <a class="nav-link px-2 py-0" href="{% unless item.url contains 'http' %}{{site.baseurl}}{% endunless %}{{item.url}}">{{item.title}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.fullscreen -->
