{% for item in site.data.news.posts limit:include.limit %}
  <div class="col-sm-6 col-lg-4 mb-3">
    <div class="card h-100 bg-white">
      <div class="card-block px-1 py-2b">
        <a href="{{site.baseurl}}{{item.url}}">
          {% if item.feature_image %}
          <figure class="figure text-center">
            <img src="{{item.feature_image}}" class="figure-img img-fluid img-fluid w-100 px-3" alt="">
          </figure>
          {% endif %}
          <h3 class="mb-1 text-center text-uppercase card-title text-black">{{item.title}}</h3>
          <p class="small">{{ item.excerpt }}</p>
        </a>
      </div>
    </div>
  </div>
{% endfor %}
