{% for item in site.projects %}
  <div class="{% cycle '', 'bg-faded' %}">
    <div class="container py-3b py-lg-3c">
      <div class="row mb-3">
        <div class="col-lg-9">
          <h2 class="display-2 mb-0b mb-lg-2b"><a href="{{site.baseurl}}{{item.url}}" class="{% cycle '', 'text-info' %}">{{item.title}}</a></h2>
          <p class="lead">{{item.excerpt}}</p>
          <p>{{ item.ingress-text | strip_html }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 offset-lg-1 push-lg-7">
          {% include content/page-links.html links=item.links %}
        </div>
        <div class="col-lg-7 pull-lg-5  hidden-md-down">
          <div class="media">
            {% for partner in item.partner-links %}
              <a href="{{partner.link}}">
                <img class="d-flex mr-2" src="{{site.baseurl}}{{partner.logo}}" alt="{{partner.name}}" height="100">
              </a>
            {% endfor %}
            <div class="media-body mr-lg-4">
              <p class="small text-muted">{{item.partner-text}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
