{% assign custom_url = site.url | append: site.baseurl %}
{% assign full_base_url = custom_url %}

<div class="container py-5">
  <div class="row mb-2">
    <div class="col-md-9">
      <h2 class="display-2"><a href="{{full_base_url}}/projects/digidem-open-lab">Digidem Open Lab</a></h2>
      <p class="lead">Ansök med ditt projekt idag och bli en del av vårt team osv...</p>
      <p>Är du 18 till 25 år och vill undersöka, utveckla eller testa deltagande demokrati? Digidem Open Lab erbjuder ett utrymme för aktivister, designers och kodare andra att undersöka, utveckla och praktisera processer för deltagande demokrati. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="media">
        <img class="d-flex mr-2 hidden-sm-down" src="assets/images/logotyp-abf.png" height="100">
        <img class="d-flex mr-2 hidden-sm-down" src="assets/images/logotyp-arvsfonden.png" height="100">
        <div class="media-body mr-4">
          <p class="small">Digidem Open Lab arrangeras med hjälp av Allmänna Arvsfonden och ABF Göteborg i samarbete med Sveriges Kommuner och Landsting, Miljöpartiet de Gröna, LSU - Sveriges ungdomsorganisationer, Ung Media och Unga Rörelsehindrade Göteborgsklubben.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 offset-md-1">
      <div class="d-flex flex-column">
        <div class="p-2"><a class="btn btn-primary btn-block" href="#">Ansök med ditt projekt</a></div>
        <div class="p-2"><a class="" href="#"><i class="fa fa-paperclip fa-fw" aria-hidden="true"></i> Whitepaper: Digidem Open Lab</a></div>
      </div>
    </div>
  </div>
</div>

<div class="bg-faded">
  <div class="container py-5">
    <div class="row mb-2">
      <div class="col-md-9">
        <h2 class="display-2"><a href="{{full_base_url}}/projects/digidem-guide" class="text-info">Digidem Guide</a></h2>
        <p class="lead">Praktiska verktyg för att samverka och ta bättre beslut</p>
        <p>Digidem Guide arbetar för att ta föra in demokrati i din vardag. Vi presenterar de bästa tillgängliga digitala verktygen på ett ställe, så att du kan hitta rätt metod för dina behov.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="media">
          <img class="d-flex mr-2 hidden-sm-down" src="assets/images/logotyp-medialab.jpg" height="90">
          <div class="media-body mr-4">
            <p class="small">Digidem Guide utvecklades av ett internationellt team av designers, forskare och kommunikationsexperter under en två veckors workshop med Participa LAB på Medialab Prado, Madrid.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 offset-md-1">
        <div class="d-flex flex-column">
          <div class="p-2"><a class="" href="http://digidemguide.org"><mark><i class="fa fa-external-link" aria-hidden="true"></i> Digidem Guide</mark></a></div>
          <div class="p-2"><a href="https://medium.com/@p_jo/designing-a-guiding-app-for-digital-democracy-1ba223b7968e">Designing a guiding app for digital democracy</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
