{% assign projects=site.projects | where:"lang", page.lang %}
<div class="bg-faded">
  <div class="container py-3b py-lg-3c">

    <div class="row mt-2b">
      <div class="col offset-1">
        <h1 class="display-3">Projekt</h1>
      </div>
    </div>

    <div class="card-deck">

      {% for item in projects %}
        <div class="card bg-{% cycle 'danger', 'warning', 'success' %}">
          <div class="card-block p-1 text-center">
            <a href="{{site.baseurl}}{{item.url}}">
              <div style="position:relative">
                <img class="img-responsive w-100" data-src="holder.js/200x200?auto=yes" alt="Card image cap">
                <div class="text-center" style="position:absolute;top:50%;width:100%;">
                  <h3 class="card-title">{{item.title}}</h3>
                </div>
              </div>
              <p class="card-text">{{ item.excerpt }}</p>
            </a>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</div>
