<div class="row my-5">
  <div class="col">

    <div class="media">
      <img class="d-flex mr-3" data-src="holder.js/120x120?auto=yes&text=Petter Joelson" alt="Petter Joelson">
      <div class="media-body">
        <h5 class="mt-0">Petter Joelson</h5>
        <h6>Project coordinator & Product developer</h6>
        <p class="card-text">Guidar progressiva organisationer i den digitala världen. Har tidigare startat kommunikationsbyrån Rabash, är freds- och miljöaktivist sedan tonåren och byggde en gång en modell av en kärnvapenmissil i naturlig storlek av sopsäckar, tejp och en datorfläkt.</p>
        <div>+46 70 867 42 44</div>
        <div>petter@digidemlab.org</div>
        <div>@p_jo</div>
      </div>
    </div>

  </div>
  <div class="col">

    <div class="media">
      <img class="d-flex mr-3" data-src="holder.js/120x120?auto=yes&text=Anna Sanne Göransson" alt="Anna Sanne Göransson">
      <div class="media-body">
        <h5 class="mt-0">Anna Sanne Göransson</h5>
        <h6>Project coordinator & Community manager</h6>
        <p class="card-text">Community organiser med särskild inriktning på film och digitala medier för att skapa deltagande och empowerment. Har tidigare arbetat på filmstudio i Ouagadougou, som ungdomsledare i Cali och fredsobservatör i Chiapas.</p>
        <div>+46 76 242 28 24</div>
        <div>anna@digidemlab.org</div>
      </div>
    </div>

  </div>
</div>
