{% assign col1 = 'col-md-3' %}
{% assign col2 = 'col-md-9' %}

<form class="form-horizontal" role="form">
  {% for item in include.form %}
    <div class="form-group">
    {% case item.type %}
      {% when 'markup' %}
        <div class="col-sm-12">
          <hr>
          <h4>{{item.title}}</h4>
        </div>
      {% when 'label' %}
        <label for="{{ item.id }}" class="{{col1}} control-label">{{ item.title }}</label>
        <div class="{{col2}}">
          <div class="row">
            {% for option in item.options %}
              <div class="col-sm-6">
                <label for="{{ option.id }}">{{ option.title }}</label>
                <input type="{{ option.type }}" class="form-control" id="{{ option.id }}" placeholder="">
              </div>
            {% endfor %}
          </div>
        </div>
      {% when 'radio' %}
        <label for="{{ item.id }}" class="{{col1}} control-label">{{ item.title }}</label>
        <div class="{{col2}}">
          {% for option in item.options %}
            <label class="radio-inline">
              <input type="{{ item.type }}" name="{{ item.id }}" id="{{ option.id }}" value="{{ option.id }}"> {{ option.name }}
            </label>
          {% endfor %}
        </div>
      {% when 'select' %}
        <label for="{{ item.id }}" class="{{col1}} control-label">{{ item.title }}</label>
        <div class="{{col2}}">
          <select class="form-control">
            {% for option in item.options %}
              <option>{{option.name}}</option>
            {% endfor %}
          </select>
        </div>
      {% when 'checkbox' %}
        {% for option in item.options %}
          <div class="{{col1}}">
          </div>
          <div class="{{col2}}">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="{{option.id}}">{{option.name}}
              </label>
            </div>
          </div>
        {% endfor %}
      {% when 'textarea' %}
        <label for="{{ item.id }}" class="{{col1}} control-label">{{ item.title }}</label>
        <div class="{{col2}}">
          <textarea class="form-control" id="{{ item.id }}" rows="2"></textarea>
        </div>
      {% when 'submit' %}
        <div class="{{col1}}">
        </div>
        <div class="{{col2}}">
          <button type="{{ item.type }}" class="btn btn-primary">{{ item.title }}</button>
        </div>
      {% else %}
        <label for="{{ item.id }}" class="{{col1}} control-label">{{ item.title }}</label>
        <div class="{{col2}}">
          <input type="{{ item.type }}" class="form-control" id="{{ item.id }}" placeholder="">
        </div>
      {% endcase %}
      {% if item.description %}
        <div class="{{col1}}">
        </div>
        <div class="{{col2}}">
          <p class="help-block">{{item.description}}</p>
        </div>
      {% endif %}
    </div>
  {% endfor %}

</form>