<section id="partners" class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7-widescreen has-text-centered">
        <h2 class="title is-6 is-size-4-tablet is-size-3-widescreen section-title">{{site.t[page.lang].project-title}}</h2>
        <p>Vi utvecklar demokratiskt deltagande för allt från internationella institutioner och städer
           till lokalt föreningsliv.</p>
      </div>
    </div>

    <div class="columns partners is-multiline is-vcentered is-centered is-variable is-8">

      <!-- sorting by featured and date and limiting to 12 clients -->
      {% assign client=site.clients | where:"lang", page.lang | sort:date | reverse %}
      {% assign clientfeat=client | group_by:"featured" | sort:"name" | reverse  %}
      {% assign size=12 | minus: clientfeat[0].size %}

      {% for item in clientfeat[0].items %}
        <div class="column is-6-tablet is-4-desktop is-3-widescreen">
          <a href="{{item.url}}" title="{{item.title}}">
            <figure class="image is-3by2 image-logo">
                <img src="{{site.baseurl}}{{item.logotype}}" alt="{{item.title}}" style="#min-height:100%">
            </figure>
          </a>
        </div>
      {% endfor %}
      {% for item in clientfeat[1].items limit:size %}
        <div class="column is-6-tablet is-4-desktop is-3-widescreen">
          <a href="{{item.url}}" title="{{item.title}}">
            <figure class="image is-3by2 image-logo">
                <img src="{{site.baseurl}}{{item.logotype}}" alt="{{item.title}}" style="#min-height:100%">
            </figure>
          </a>
        </div>
      {% endfor %}
    </div>

    <p class="has-text-centered">
      <a class="button is-white" href="{{site.baseurl}}{% if page.lang=='en' %}/en{% endif %}/work/">{{site.t[page.lang].more-projects}}</a>
    </p>

  </div>
</section>
