<section id="partners" class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7-widescreen has-text-centered">
        <h2 class="title is-6 is-size-4-tablet is-size-3-widescreen section-title">{{site.t[page.lang].project-title-start}}</h2>
        <p>{{site.t[page.lang].project-intro}}</p>
      </div>
    </div>

    <div class="columns partners is-mobile is-multiline is-vcentered is-centered is-variable is-tablet-8">

      <!-- sorting by featured and date and limiting to 12 clients -->
      {% assign client=site.clients | where:"lang", page.lang | sort:date | reverse %}
      {% assign clientfeat=client | group_by:"featured" | sort:"name" | reverse  %}
      {% assign size=12 | minus: clientfeat[0].size %}

      {% for item in clientfeat[0].items %}
        {% include teaser-client.html %}
      {% endfor %}
      {% for item in clientfeat[1].items limit:size %}
        {% include teaser-client.html %}
      {% endfor %}
    </div>

    <p class="has-text-centered">
      <a class="button is-white" href="{{site.baseurl}}{% if page.lang=='en' %}/en{% endif %}/work/">{{site.t[page.lang].more-projects}}</a>
    </p>

  </div>
</section>
