<footer class="footer">
  <div class="container">
    <div class="columns is-mobile is-multiline">
      <div class="column is-7-mobile is-7-tablet is-5-desktop is-3-widescreen">
        <a href="{{site.baseurl}}{% if page.lang == 'sv'%}/{% else %}/en{% endif %}"><img src="{{site.baseurl}}/assets/images/digidemlab.svg" alt="Digidem Lab" width="241" height="61px"></a>
      </div>
      <div class="column is-10-mobile is-10-tablet is-7-desktop is-5-widescreen">
        <p>{{site.t[page.lang].mission}}</p>
        <p><small>Content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.</small></p>
      </div>
      <div class="column is-full-mobile is-full-tablet is-full-desktop is-4-widescreen">
        {% include social.html %}
      </div>
    </div>
  </div>
</footer>
