<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="text-muted">&copy; {{ site.title | escape }}</span>
      </div>
      {% if site.author %}
      <div class="col-md-4">
        <span class="text-muted"><a href="mailto:{{ site.email }}">{{ site.author | escape }}</a></span>
      </div>
      {% endif %}
      <div class="col-md-4">
        <ul class="social-media-list">

        </ul>
      </div>
    </div>
  </div>
</footer>
