<!-- Hero head: will stick at the top -->
<div class="hero-head">
  <nav class="navbar navbar-top">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{site.baseurl}}{% if page.lang == 'sv'%}/{% else %}/en{% endif %}"><img src="{{site.baseurl}}/assets/images/digidemlab.svg" alt="Digidem Lab" width="308" height="78px"></a>
        <span class="navbar-burger burger" data-target="navbar-menu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
    </div>
  </nav>

  <nav class="navbar">
    <div class="container">
      <div class="navbar-menu" id="navbar-menu">
        <div class="navbar-start">
          {% for item in site.data.menu[page.lang].primary %}
            <a class="navbar-item {% if item.url==page.url %}is-active{% endif %}" href="{{site.baseurl}}{{item.url}}">{{item.title}}</a>
          {% endfor %}
        </div>

        <div class="navbar-end">
          {% for item in site.data.menu[page.lang].secondary %}
            <a class="navbar-item" href="{{site.baseurl}}{{item.url}}">{{item.title}}</a>
          {% endfor %}
          {% include menu-lang.html %}
        </div>
      </div>
    </div>
  </nav>
</div>
