{% if page.ref and page.ref != '' %}
  {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
  {% for post in posts %}
    {% if forloop.last %}<span class="navbar-item item-lang-space">|</span>{% endif %}
    <a class="navbar-item is-uppercase item-lang-{{forloop.index}} {% if post.lang == page.lang %}is-active{% endif %}" href="{{ site.baseurl }}{{ post.url }}">{{ post.lang }}</a>
  {% endfor %}
  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% for item in pages %}
    {% if forloop.last %}<span class="navbar-item item-lang-space">|</span>{% endif %}
    <a class="navbar-item is-uppercase item-lang-{{forloop.index}} {% if item.lang == page.lang %}is-active{% endif %}" href="{{ site.baseurl }}{{ item.url }}">{{ item.lang }}</a>
  {% endfor %}
  {% assign projects=site.projects | where:"ref", page.ref | sort: 'lang' %}
  {% for item in projects %}
    {% if forloop.last %}<span class="navbar-item item-lang-space">|</span>{% endif %}
    <a class="navbar-item is-uppercase item-lang-{{forloop.index}} {% if item.lang == page.lang %}is-active{% endif %}" href="{{ site.baseurl }}{{ item.url }}">{{ item.lang }}</a>
  {% endfor %}
{% endif %}
