{% if page.ref %}
  {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
  {% for post in posts %}
    <a class="navbar-item is-uppercase {% if post.lang == page.lang %}active{% endif %}" href="{{ site.baseurl }}{{ post.url }}">{{ post.lang }}</a>
  {% endfor %}
  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% for item in pages %}
    <a class="navbar-item is-uppercase {% if item.lang == page.lang %}active{% endif %}" href="{{ site.baseurl }}{{ item.url }}">{{ item.lang }}</a>
  {% endfor %}
  {% assign projects=site.projects | where:"ref", page.ref | sort: 'lang' %}
  {% for item in projects %}
    <a class="navbar-item is-uppercase {% if item.lang == page.lang %}active{% endif %}" href="{{ site.baseurl }}{{ item.url }}">{{ item.lang }}</a>
  {% endfor %}
{% endif %}
