<section class="section no-padding-width" id="how-we-work">
  <div class="services">
    <div class="container">
      <h2 class="title is-5 is-size-4-tablet is-size-3-desktop is-size-2-widescreen">{{page.services[0].title}}</h2>
      <div class="columns is-centered is-mobile is-multiline">
        {% for item in page.services[0].items %}
          <div class="column column is-10-tablet is-6-desktop is-3-widescreen">
            <figure class="image is-240x240">
              <img src="{{site.baseurl}}{{item.icon}}">
            </figure>
            <h3 class="title is-6">{{item.title}}</h3>
            <ul>
              {% for item in item.items %}
                <li>{{item.text}}</li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
