<section class="section no-padding-width">
  <div class="services">
    <div class="container">
      <h2 class="title is-2">{{page.services[0].title}}</h2>
      <div class="columns">
        {% for item in page.services[0].items %}
          <div class="column">
            <figure class="image is-1by1">
              <img src="{{site.baseurl}}{{item.icon}}">
            </figure>
            <h3 class="title is-6">{{item.title}}</h3>
            <ul>
              {% for item in item.items %}
                <li>{{item.text}}</li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
