<div class="columns is-desktop teaser">
  <div class="column is-3-desktop is-offset-2-fullhd">
    <a href="{{site.baseurl}}{{item.url}}">
      <figure class="image is-240x240 image-icon">
        <img src="{{site.baseurl}}{{item.icon}}" alt="{{item.title}}">
      </figure>
    </a>
  </div>
  <div class="column is-5-widescreen is-5-fullhd">
    <h2 class="title is-6 is-size-5-tablet is-size-4-widescreen"><a href="{{site.baseurl}}{{item.url}}">{{item.title}}</a></h2>
    <p>{{ item.ingress-text | strip_html }}</p>
    <p class="read-more is-hidden-touch is-hidden-desktop-only"><a href="{{site.baseurl}}{{item.url}}">{{site.t[page.lang].read-more}}</a><p>
  </div>
</div>
