//
// Custom styles
//

// Mixins
@mixin read-more {
  &::after {
    content: ">";
    padding-left: 0.25em;
    font-family: $family-monospace;
    position: relative;
    top: 0.05em;
  }
}

@mixin monospace {
  font-family: $family-monospace;
  font-size: 0.8125rem;
  line-height: 1.25;

  @include from($desktop) {
    font-size: 1rem;
  }
}

// Links

aside a:hover,
p > a:hover {
  text-decoration: underline;
}

.button {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.button {
  font-weight: bold;
  font-size: 1rem !important;

  @include from($desktop) {
    font-size: 1.625rem !important;
  }

  border-radius: 0 !important;
  height: 2.25em !important;
  @include read-more;
}

.read-more {
  margin: 1.5rem 0 0.75rem;

  a {
    font-weight: bold;
    @include read-more;
  }

  .button {
    @include from($desktop) {
      background: none;
    }
  }
}


// Title


.hero .title {
  font-size: 3.375rem;
  line-height: 0.95;
  letter-spacing: -0.05em;

  @include from($tablet) {
    font-size: 4.375rem;
  }

  @include from(550px) {
    font-size: 6rem;
  }

  @include from($desktop) {
    font-size: 7.5rem;
  }

  @include from($widescreen) {
    font-size: 11.25rem;
  }
}

.title,
.subtitle {
  letter-spacing: -0.03em;
  line-height: 1.07;
}

.title:not(:last-child),
.subtitle:not(:last-child) {
  @include until($widescreen) {
    margin-bottom: 1rem;
  }
}

.column .title:not(:last-child),
.column .subtitle:not(:last-child) {
  @include until($widescreen) {
    margin-bottom: 0.5rem;
  }
}

#mission h3 {
  margin-bottom: 0.5rem;
}

.subtitle.is-3 {
  font-size: 1.875rem;
  @include from($desktop) {
    font-size: 3.125rem;
  }
  line-height: 1.12;
}

.subtitle a,
.title a,
a.title {
  &:hover,
  &:active {
    text-decoration: underline !important;
  }
}

.title .is-padded {
  padding: 0 0.1em;
}

// Mission, Services

.services,
.mission {
  padding: 1rem .5rem;

  @include from($desktop) {
    padding: 3rem 4.625rem 3.5rem;
  }
}

.services {
  border: 1.5rem solid $grey-light;
  max-width: 1370px;
  margin: 0 auto;
}

// Card

.image {
  overflow: hidden;

  img {
    height: auto !important;
  }

  &.is-4by3,
  &.is-3by2,
  &.is-2by1,
  &.is-3by1,
  &.is-1by2 {
    img {
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%);
    }
  }

  &.is-300x300,
  &.is-240x240 {
    max-width: 100%;
  }
}


// Spacing: section, box

.section.no-padding-width {
  padding-right: 0 !important;
  padding-left: 0 !important;
}


// Hero

.hero-head {
  @include until($desktop) {
    margin-top: 3.5rem;
  }
}


.hero-body {
  padding-top: 1.5rem;
}

.is-front .hero-body {
  @include from($desktop) {
    padding-top: 0rem !important;
    padding-bottom: 7.5rem !important;
  }
}

.hero .image {
  padding-top: 120% !important;

  // @include from($tablet) {
  //   padding-top: 90% !important;
  // }

  @include from(550px) {
    padding-top: 80% !important;
  }

  @include from(590px) {
    padding-top: 60% !important;
  }

  @include from($widescreen) {
    padding-top: 55% !important;
  }

  @include until($desktop) {
    img {
      height: 100% !important;
      width: inherit !important;
      max-width: inherit;
    }
  }
}

.link-down {
  display: block;
  margin: -6.5rem auto 1rem;
}

.hero .title {
  color: $text !important;
}

.hero {
  background-image: linear-gradient(125deg,$purple,$pink,$yellow,$green,$ash);
  background-size: 400% 400%;
  animation: bganimation 30s infinite;
}

@keyframes bganimation {
  0%{
    background-position: 0% 0%; // Purple & Pink
  }
  25%{
    background-position: 25% 25%; // Pink & Yellow
  }
  50%{
    background-position: 100% 100%; // Green & Ash
  }
  75%{
    background-position: 25% 25%; // Pink & Yellow
  }
  100%{
    background-position: 0% 0%; // Purple & Pink
  }
}


// Navbar

.navbar-burger span {
  height: 2px;
}

.navbar,
.navbar > .container {
  @include until($desktop) {
    min-height: inherit;
  }
}

.navbar-top {
  @include from($desktop) {
    min-height: 7.25rem;
  }
}

.navbar-item {
  font-size: 1.5rem;
}

.hero a.navbar-item {
  color: $navbar-item-color !important;
  border-bottom: 7px solid transparent;

  &:hover,
  &.is-active {
    background: $navbar-item-hover-background-color !important;
  }
}

.navbar-start .navbar-item {
  font-weight: bold;
}

@include from($desktop) {
  .navbar-menu a.navbar-item {
    padding: 0.5rem 0.25rem 0 !important;
    line-height: 1 !important;

    &:hover,
    &.is-active {
      border-bottom-color: $white;
    }
  }

  .navbar-start .navbar-item:not(:last-child) {
    margin-right: 1.625rem;
  }

  .navbar-end .navbar-item {
    margin-right: 0.5rem;

    &.item-lang-1 {
      margin-right: 0 !important;
    }

    &.item-lang-2 {
      padding-left: 0 !important;
      &::before {
        content: '|';
        padding-right: 0.25rem !important;
      }
    }
  }
}

.navbar-brand .navbar-item {
//  flex-shrink: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 !important;
}

.navbar-item img {
  max-height: inherit;
}

// Footer

.footer {
  background: linear-gradient(240deg, $pink 0%, $purple 100%);

  @include until($desktop) {
    padding-top: 3rem;
  }
}

.icon.is-large {
  @include from($desktop) {
    margin-left: 0.5rem;
  }
}

// Sections


.box {
  margin-top: 3rem;
  margin-bottom: 3rem !important;

  @include until($desktop) {
    padding: 0;
    margin: 2rem 0 !important;
  }

  @include from($desktop) {
    margin-top: 5.5rem;
    margin-bottom: 5.5rem !important;
    background-image: url("../images/box-upper.png"), url("../images/box-lower.png");
    background-repeat: no-repeat;
    background-position: 2% 0%, 98% 100%;
  }

  strong {
    font-family: $family-monospace;
  }

  .is-medium {
    font-size: 1.5rem;
  }
}




// Content

// Mobile text
@include until($desktop) {
  #mission p,
  .teaser-crew p,
  .teaser-small p,
  .teaser p,
  .content .box p,
  .content > p,
  .content > ul,
  .content > ol,
  footer p {
    font-size: 1.0625rem !important;
    line-height: 1.17647 !important;
  }
}

// Läs mer faktaruta
.services,
.prices,
.facts {
  ul {
    @include monospace;

    li {
      padding: 0 0 0.75rem;

      &::before {
        content: '>';
        padding-right: 0.5rem;
        color: $purple;
      }
    }
  }
}


.services ul li::before {
  color: $black;
}

.facts {

  @include until($widescreen) {
    background: $green;
    position: absolute;
    bottom: 0;
    padding: 1rem 0.75rem;
    width: 100%;
  }

  @include from($widescreen) {
    float: left;
    width: 25%;
  }
  @include from($fullhd) {
    padding-left: 3rem;
    // width: 16.6666666667%;
    // margin-left: 8.3333333333%;
  }

  h2 {
    margin-bottom: 0.75rem !important;
  }
}

.container.page {
  @include until($widescreen) {
    padding-bottom: 14rem;
  }
}

// Citat
.content blockquote {
  color: $pink;
  font-weight: bold;
  font-size: 1.625rem;
  letter-spacing: -0.05em;
  line-height: 1.111;

  p::before,
  p::after {
    content: '”';
  }
  @include from($desktop) {
    font-size: 2.75rem;
  }
}

// Textmarginal
.content > {
   p, h2, h3, h4, ul, ol, blockquote {
    @include from($widescreen) {
      margin-left: 33.3333333333%;
      padding-left: $column-gap;
      padding-right: $column-gap;
    }
    @include from($fullhd) {
      width: 50%;
    }

    a {
      text-decoration: underline;
    }
  }

  .box {

    @include until($desktop) {
      padding: 0;
    }

    @include from($widescreen) {
      margin-left: 25%;
    }

    @include from($fullhd) {
      width: 66.6666666667%;
    }
  }

}

// Bild i text
.content {
  figure {
    margin-left: 0;
    margin-right: 0;

    @include from($widescreen) {
      text-align: center;
    }

    img {
      display: inline-block;
    }
  }

  figure figcaption,
  .caption {
    font-style: normal;
    @include monospace;
    margin-bottom: 1.5rem;
    padding-top: 0.5rem;

    @include from($widescreen) {
      border-top: 1px solid $black;
      width: 25%;
      float: left;
    }
  }

  @include from($widescreen) {
    margin-top: 1rem;

    figure figcaption {
      margin-top: 2.625rem;
    }
  }
}

.content > figure,
.content .columns {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem !important;

  &+ .columns {
    margin-top: -1.125rem;
  }

  @include until($widescreen) {
    &+ .caption {
      margin-top: -1.125rem;
    }
  }

  @include from($widescreen) {
    margin-top: 4rem;
  }
}

.content > figure {
  @include from($widescreen) {
    margin-bottom: 3rem !important;
  }
}

// Definition list, siffror
.content dd {
  @include monospace;
  margin-left: 0;

  &:first-of-type {
    clear: left;
  }

  @include from($widescreen) {
    padding: 0 7rem;

    &:only-of-type {
      padding: 0 20rem;
    }
  }
}

.content dt {
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: -0.05em;
  line-height: 0.9;

  @include from($widescreen) {
    font-size: 12.5rem;
  }

  &:only-of-type {
    @include from($tablet) {
      font-size: 7.5rem;
    }
    @include from($desktop) {
      font-size: 12.5rem;
    }
    @include from($widescreen) {
      font-size: 22rem;
    }
  }
}

.content dt,
.content dd {
  text-align: center;
  margin-bottom: 1.5rem;

  @include from($tablet) {
    &:first-of-type:not(:only-of-type) {
      width: 48%;
      float: left;
    }

    &:nth-of-type(2) {
      margin-left: 50%;
    }
  }
}

// Marginbottoms
.content p:not(:last-child) {
  margin-bottom: .5em;
}

.content > p:last-of-type {
  margin-bottom: 4rem;
}

.content blockquote {
  margin-top: 0.75em;
}
.content blockquote:not(:last-child) {
  margin-bottom: 0.75em;
}

.content dl:not(:last-child),
.content ol:not(:last-child),
.content ul:not(:last-child),
.content pre:not(:last-child),
.content table:not(:last-child) {
  margin-bottom: 1.75em;
}

.content h1,
.content h2,
.content h3,
.content h4 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.25em;
  letter-spacing: -0.03em;
}

.content h1,
.content h2 {
  @include from($desktop) {
    font-size: 2.2em;
    letter-spacing: -0.05em;
  }
}

.content h5,
.content h6 {
  font-size: 1em;
  font-weight: bold;
}

@include from($desktop) {
  .content h2:not(:first-child) {
    margin-top: 3rem;
  }

  .content h3:not(:first-child) {
    margin-top: 1.75rem;
  }
}



// Specific pages

.section {
  @include until($desktop) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

#featured.section {
  padding-bottom: 0;

  @include from($widescreen) {
    padding-top: 3rem;
    padding-bottom: 6rem;
  }
}

.teaser-small .image,
#featured figure {
  margin-bottom: .625rem;

  @include from($widescreen) {
    margin-bottom: 2rem;
  }
}

#featured figure {
  @include from($widescreen) {
    padding-top: 50%;
  }
}

#featured .links {
  margin-top: 3.5rem;

  .button:first-child {
    margin-right: 1.5rem;
  }
}

#news .container,
#project .container {
  @include from($desktop) {
    border-bottom: 1px solid;
}
}

#mission.section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
#mission .column {
  // margin-bottom: 2rem;
}
#mission figure {
  margin-bottom: .5rem;
}

#partners.section {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

#partners .column {
  @include until($desktop) {
    //max-width: 50%;
    font-size: 0.7em;
  }
}

#page.section {
  padding-top: 3rem;

  @include from($desktop) {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
}

#contact {
  h3 {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 1.5em;
  }
}

.page-contact .content .columns {
  margin: 0;
}

.prices,
.services {
  figure {
    margin: 0 auto 1rem;
  }
}

// Page

.columns-header {
  margin-bottom: 3rem !important;

  @include from($widescreen) {
    margin-bottom: 6rem !important;
  }
}

.page-date {
  margin: -1rem 0 0.5rem;
}

// Teaser

.columns.teaser {
  margin-top: 0 !important;
  margin-bottom: 1rem;

  .column:first-of-type {
    padding-bottom: 0;
  }
}

.teaser-small h3 {
  @include from($desktop) {
    font-weight: bold;
    margin-bottom: 1rem !important;
  }
}

.content .teaser-crew figure:not(:last-child) {
  margin-bottom: 1rem;
}
.column .teaser-crew .title:not(:last-child) {
  margin-top: 0;
}
.teaser-crew {
  margin-bottom: 2rem;

  @include from($desktop) {
    margin-bottom: 4rem;
  }
}

.image-logo {
  margin: 1rem auto;
  img {
    width: auto !important;
    max-height: 100% !important;
  }
}
