//
// Custom styles
//

// Mixins
@mixin read-more {
  &::after {
    content: ">";
    padding-left: 0.25em;
    font-family: $family-monospace;
    position: relative;
    top: 0.05em;
  }
}

@mixin monospace {
  font-family: $family-monospace;
  font-size: 1rem;
  line-height: 1.25;
}

// Links

.link-down {
  display: block;
  margin: -5.5rem auto 1rem;
}

p > a:hover {
  text-decoration: underline;
}

.button {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.button {
  font-weight: bold;
  font-size: 1.625rem !important;
  border-radius: 0 !important;
  height: 2.25em !important;
  @include read-more;
}

.read-more {
  margin: 0.75rem 0;

  a {
    font-weight: bold;
    @include read-more;
  }
}

.section-more {
  padding: 1em 0;
  border-bottom: 3px solid #000;
  display: block;
}

// Title

.hero .title {
  font-size: 11.25rem;
  line-height: 0.9;
  letter-spacing: -0.05em;
}

.title,
.subtitle {
  letter-spacing: -0.03em;

  &.is-1,
  &.is-2 {
    line-height: 1.07;
  }
  @include from($tablet) {

  }

  &.is-3 {
    line-height: 1.12;
  }

  &.is-4 {
    // font-size: 1.625rem;
    margin-bottom: 0.5rem;
  }
  &.is-7 {
    margin: 1.5rem 0 0.5rem;
  }
}
.title.is-1 {
  // font-size: 1.875rem;
  // margin-bottom: 1rem;

  @include from($tablet) {
    // font-size: 3rem;
  }

  @include from($desktop) {
    // font-size: 3.75rem;
  }
}
.title.is-5 {
  // font-size: 1.25rem;
  margin-bottom: 0.5rem;

  @include from($tablet) {
    // font-size: 1.375rem;
  }
}

.title a,
a.title {
  &:hover,
  &:active {
    text-decoration: underline !important;
  }
}

.title .is-padded {
  padding: 0 0.25em;
}

// Mission

.mission {
  padding: 1rem 1.5rem;

  @include from($tablet) {
    padding: 2rem 3rem;
  }

  @include from($desktop) {
    padding: 3rem 4.625rem 3.5rem;
  }
}


// Card

.image {
  overflow: hidden;

  img {
    height: auto !important;
  }

  &.is3by2,
  &.is-2by1,
  &.is-3by1 {
    img {
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%);
    }
  }
}


// Spacing: section, box

.section.no-padding-width {
  padding-right: 0 !important;
  padding-left: 0 !important;

}


// Hero

.hero .title {
  color: $text !important;
}

.hero {
  background-image: linear-gradient(125deg,$purple,$pink,$yellow,$green,$ash);
  background-size: 400% 400%;
  animation: bganimation 30s infinite;
}

@keyframes bganimation {
  0%{
    background-position: 0% 0%; // Purple & Pink
  }
  25%{
    background-position: 0% 100%; // Pink & Yellow
  }
  50%{
    background-position: 100% 100%; // Green & Ash
  }
  75%{
    background-position: 0% 100%; // Pink & Yellow
  }
  100%{
    background-position: 0% 0%; // Purple & Pink
  }
}

/*
@keyframes bganimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
*/

// Navbar

.navbar-top {
  @include from($desktop) {
    min-height: 7.25rem;
  }
}

.navbar-item {
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
}

.navbar-item {
  &.item-lang-1 {
    padding-right: 0.25rem !important;
  }

  &.item-lang-2 {
    padding-left: 0 !important;
    &::before {
      content: '|';
      padding-right: 0.25rem !important;
    }
  }
}

.hero a.navbar-item {
  color: $navbar-item-color !important;
  border-bottom: 7px solid transparent;


  &:hover,
  &.is-active {
    background: $navbar-item-hover-background-color !important;
    border-bottom-color: $white;
  }
}

.navbar-start .navbar-item {
  font-weight: bold;
}

.navbar-brand .navbar-item {
//  flex-shrink: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 0 !important;
}

.navbar-item img {
  max-height: inherit;
}

// Footer

.footer {
  background: linear-gradient(240deg, $pink 0%, $purple 100%);
}

.icon.is-large {
  margin-left: 1rem;
}

// Sections


.box {
  margin: 4rem 0%;

  background-image: url("../images/box-top.png"), url("../images/box-bottom.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;

  strong {
    font-family: $family-monospace;
  }

  .is-medium {
    font-size: 1.5rem;
  }
}

.services {
  border: 1.5rem solid $grey-light;
  max-width: 1370px;

  padding-top: 4rem;
  padding-bottom: 4rem;
}


// Content


// Läs mer faktaruta
.services,
.prices,
.facts {
  ul {
    @include monospace;

    li {
      padding: 0 0 1rem;

      &::before {
        content: '>';
        padding-right: 0.5rem;
      }
    }
  }
}

.facts {
  @include from($tablet) {
    float: left;
    width: 16.6666666667%;
    margin-left: 8.3333333333%;
  }
}

// Citat
.content blockquote {
  color: $pink;
  font-weight: bold;
  font-size: 2.75rem;
  letter-spacing: -0.05em;
  line-height: 1.111;

  p::before,
  p::after {
    content: '”';
  }
}

// Textmarginal
.content > {
   p, h2, h3, h4, ul, ol, blockquote {
    @include from($tablet) {
      margin-left: 33.3333333333%;
      width: 50%;
      padding-left: $column-gap;
      padding-right: $column-gap;
    }

    a {
      text-decoration: underline;
    }
  }

  .box {
    margin-left: 25%;
    width: 66.6666666667%;
  }
}

// Bild i text
.content {
  figure {
    margin-left: 0;
    margin-right: 0;
    text-align: center;

    &:not(:first-child) {
      margin-top: 3rem;
    }
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
    img {
      display: inline-block;
    }
  }

  figure figcaption,
  .caption {
    font-style: normal;
    margin-top: 3rem;
    @include monospace;
    border-top: 1px solid $black;
    width: 25%;
    float: left;
    padding-top: 0.5rem;
  }
}

// Definition list, siffror
.content dd {
  @include monospace;
  margin-left: 0;
  padding: 0 7rem;

  &:first-of-type {
    clear: left;
  }

  &:only-of-type {
    padding: 0 20rem;
  }
}

.content dt {
  font-size: 12.5rem;
  font-weight: bold;
  letter-spacing: -0.05em;
  line-height: 0.9;

  &:only-of-type {
    font-size: 22rem;
  }
}

.content dt,
.content dd {
  text-align: center;

  &:first-of-type:not(:only-of-type) {
    width: 48%;
    float: left;
  }

  &:nth-of-type(2) {
    margin-left: 50%;
  }
}

// Marginbottoms
.content p:not(:last-child),
.content dl:not(:last-child),
.content ol:not(:last-child),
.content ul:not(:last-child),
.content blockquote:not(:last-child),
.content pre:not(:last-child),
.content table:not(:last-child) {
  margin-bottom: 1.75em;
}

.content h1,
.content h2,
.content h3,
.content h4 {
  font-size: 1.6em;
  font-weight: bold;
}

.content h5,
.content h6 {
  font-size: 1em;
  font-weight: bold;
}

.content h2:not(:first-child) {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.content h3:not(:first-child) {
  margin-top: 1.75rem;
}


// Specific pages

#featured.section {
  padding-bottom: 6rem;
}

#featured figure {
  margin-bottom: 2.5rem;
}
#featured .links {
  margin-top: 3.5rem;

  .button:first-child {
    margin-right: 1.5rem;
  }
}

#news .container,
#project .container {
  border-bottom: 1px solid;
}

#mission.section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
#mission .columns {
  margin-bottom: 2.5rem;
}


// Teaser

.columns.teaser {
  margin-bottom: 3rem;
}

.teaser-small .image {
  margin-bottom: 1.75rem;
}

.image-logo {
  margin: 1rem auto;
  img {
    width: auto !important;
    max-height: 100% !important;
  }
}
