//
// Custom styles
//

// Mixins
@mixin read-more {
  &::after {
    content: ">";
    padding-left: 0.25em;
    font-family: $family-monospace;
    position: relative;
    top: 0.05em;
  }
}

@mixin monospace {
  font-family: $family-monospace;
  font-size: 0.8125rem;
  line-height: 1.25;

  @include from($desktop) {
    font-size: 1rem;
  }
}

@mixin gradients($color1, $color2, $color3) {
  background-image: linear-gradient(125deg, $color1, $color2, $color3);
  background-size: 200% 200%;
  animation: bganimation 60s infinite;
}

@keyframes bganimation {
  0%{
    background-position: 0% 0%;
  }
  50%{
    background-position: 100% 100%;
  }
  100%{
    background-position: 0% 0%;
  }
}

// Links

aside a:hover,
p > a:hover {
  text-decoration: underline;
}

.button {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.button {
  font-weight: bold;
  font-size: 1rem !important;

  @include from($desktop) {
    font-size: 1.625rem !important;
  }

  border-radius: 0 !important;
  height: 2.25em !important;
  line-height: 0;
  @include read-more;
}

.read-more {
  margin: 1.5rem 0 0.75rem;

  a {
    font-weight: bold;
    @include read-more;
  }

  .button {
    @include from($desktop) {
      background: none;
    }
  }
}


// Title


.hero .title {
  font-size: 3.375rem;
  line-height: 0.95;
  letter-spacing: -0.05em;
  &.lang-en {
    font-size: 3rem;
  }

  @include from($tablet) {
    font-size: 4.375rem;
    &.lang-en {
      font-size: 4rem;
    }
  }

  @include from(550px) {
    font-size: 6rem;
    &.lang-en {
      font-size: 5rem;
    }
  }

  @include from($desktop) {
    font-size: 7.5rem;
    &.lang-en {
      font-size: 7rem;
    }
  }

  @include from($widescreen) {
    font-size: 11.25rem;
    &.lang-en {
      font-size: 10rem;
    }
  }
}

.title,
.subtitle {
  letter-spacing: -0.03em;
  line-height: 1.07;
}

.title:not(:last-child),
.subtitle:not(:last-child) {
  //@include until($widescreen) {
    margin-bottom: 0.875rem;
  //}
}

.column .title:not(:last-child),
.column .subtitle:not(:last-child) {
  @include until($widescreen) {
    margin-bottom: 0.25rem;
  }
}

#mission h3 {
  margin-bottom: 0.25rem;
}

.subtitle.is-3 {
  font-size: 1.875rem;
  @include from($desktop) {
    font-size: 3.125rem;
  }
  line-height: 1.12;
}

.subtitle a,
.title a,
a.title {
  &:hover,
  &:active {
    text-decoration: underline !important;
  }
}

.title .is-padded {
  padding: 0 0.1em;
}

// Mission, Services


.mission {
  padding: 1.5rem 1.25rem;

  @include from($desktop) {
    padding: 3rem 4.625rem 3.5rem;
  }
}

.mission .column {
  padding-bottom: 1.25rem;
}

.services {
  padding: 1rem .5rem;
  border: 1.5rem solid $grey-light;
  max-width: 1370px;
  margin: 0 auto;
  @include from($desktop) {
    padding: 3rem 4.625rem 3.5rem;
  }
}

// Card

.image {
  overflow: hidden;

  img {
    height: auto !important;

    &.cut-height {
      max-width: inherit;

    }
  }

  &.is-4by3,
  &.is-3by2,
  &.is-2by1,
  &.is-3by1,
  &.is-1by2,
  &.is-1by1 {
    img {
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%);
    }
  }

  &.is-300x300,
  &.is-240x240 {
    max-width: 100%;
  }
}


// Spacing: section, box

.section.no-padding-width {
  padding-right: 0 !important;
  padding-left: 0 !important;
}


// Hero

.hero-body {
  padding-top: 1.5rem;
}

.is-front .hero-body {
  @include from($desktop) {
    padding-top: 0rem !important;
    padding-bottom: 7.5rem !important;
  }
}

.hero .image {
  padding-top: 120% !important;

  // @include from($tablet) {
  //   padding-top: 90% !important;
  // }

  @include from(550px) {
    padding-top: 80% !important;
  }

  @include from(590px) {
    padding-top: 60% !important;
  }

  @include from($widescreen) {
    padding-top: 55% !important;
  }

  @include until($desktop) {
    img {
      height: 100% !important;
      width: inherit !important;
      max-width: inherit;
    }
  }
}

.link-down {
  display: block;
  margin: -6.5rem auto 1rem;
}

.hero .title {
  color: $text !important;
}

.hero {
  @include gradients($purple,$pink,$yellow);
}

#page-services,
#page-about,
#page-majorna-linne {
  .hero {
    @include gradients($green,$ash,$pink);
  }
}


// Navbar

.navbar-burger span {
  height: 2px;
  left: calc(50% - 10px);
  width: 20px;
}
/*
.navbar-burger span:nth-child(1) {
  top: calc(50% - 9px);
}
.navbar-burger span:nth-child(2) {
    top: calc(50% - 2px);
}
.navbar-burger span:nth-child(3) {
    top: calc(50% + 5px);
}
*/

.navbar,
.navbar > .container {
  @include until($desktop) {
    min-height: inherit;
  }
}

.navbar-top {
  @include from($desktop) {
    min-height: 7.25rem;
  }
}

.navbar-item {
  font-size: 1.5rem;
}

.hero .navbar-item {
  color: $navbar-item-color !important;
  border-bottom: 2px solid transparent;

  &:hover,
  &.is-active {
    background: $navbar-item-hover-background-color !important;
  }
}

.navbar-start .navbar-item {
  font-weight: bold;
}

.item-lang-space {
  @include until($desktop) {
    display: none;
  }
}

@include from($desktop) {
  .navbar-menu .navbar-item {
    padding: 0.5rem 0.25rem 0 !important;
    line-height: 1 !important;

    &:hover,
    &.is-active {
      border-bottom-color: $black;
    }
  }

  .navbar-start .navbar-item:not(:last-child) {
    margin-right: 1.625rem;
  }

  .navbar-end .navbar-item {
    margin-right: 0.5rem;

    &.item-lang-1 {
      margin-right: 0 !important;
      margin-left: 0.25rem;
    }

    &.item-lang-space {
      margin-right: 0 !important;
    }

    &.item-lang-1,
    &.item-lang-2 {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}

.navbar-brand .navbar-item {
//  flex-shrink: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 !important;
}

.navbar-item img,
.navbar-item svg {
  max-height: inherit;
  height: auto;
  max-width: 100%;
}

// Mobile menu
@include until($desktop) {
  .hero .navbar-main.is-active{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    .navbar-item {
      color: #fff !important;

      &:hover {
        text-decoration: underline !important;
      }
    }

    .container {
      height: 100%
    }

    .navbar-menu.is-active {
      height: 100%;
      padding-top: 5rem;
		  background: $black;
    }
  }
}

svg.logo-dropdown {
  fill: #fff;
}

.navbar-burger.is-active {
  color: #fff;
}

// Footer

.footer {
  background: linear-gradient(240deg, $pink 0%, $purple 100%);

  p {
    margin-bottom: .5em;
  }

  @include until($desktop) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .column:first-of-type {
    padding-bottom: 0;
  }
  .column:nth-of-type(2) {
    padding-bottom: 2rem;
  }
}

.icon.is-large {
  @include from($desktop) {
    margin-left: 0.5rem;
  }
}

// Sections


.box {
  margin-top: 3rem;
  margin-bottom: 3rem !important;

  @include until($desktop) {
    padding: 0;
    margin: 2rem 0 !important;
  }

  @include from($desktop) {
    background-image: url("../images/box-top.png"), url("../images/box-bottom.png");
    background-repeat: no-repeat;
    background-position: 2% 0%, 98% 100%;
  }

  strong {
    font-family: $family-monospace;
  }

  .is-medium {
    font-size: 1.5rem;
  }
}




// Content

// Mobile text
@include until($desktop) {
  #mission p,
  .teaser-crew p,
  .teaser-small p,
  .teaser p,
  .content .box p,
  .content > p,
  .content > ul,
  .content > ol,
  .accordion-body p,
  footer p {
    font-size: 1.125rem !important;
    line-height: 1.25 !important;
  }
}

// Läs mer faktaruta
.menu,
.services,
.prices,
.facts {
  ul {
    @include monospace;

    li {
      padding: 0 0 0.75rem;

      &::before {
        content: '>';
        padding-right: 0.5rem;
        color: $purple;
      }
    }
  }
}

.menu ul li:last-child {
  padding-bottom: 0;
}

aside {

  &.facts {
    @include until($widescreen) {
      background: $green;
      position: absolute;
      bottom: 0;
      padding: 1rem 0.75rem;
      width: 100%;
    }
  }

  @include from($widescreen) {
    float: left;
    clear: left;
    width: 25%;
  }
  @include from($fullhd) {
    padding-left: 3rem;
    // width: 16.6666666667%;
    // margin-left: 8.3333333333%;
  }

  h2 {
    margin-bottom: 0.75rem !important;
  }
}

.container.page {
  @include from($widescreen) {
    padding-bottom: 0 !important;
  }
}

// Citat
.content blockquote {
  color: $pink;
  font-weight: bold;
  font-size: 1.625rem;
  letter-spacing: -0.05em;
  line-height: 1.111;

  p::before,
  p::after {
    content: '”';
  }
  @include from($desktop) {
    font-size: 2.75rem;
  }
}

// Textmarginal
.content >,
#accordion-basic {
   p, h2, h3, h4, ul, ol, blockquote {
    @include from($widescreen) {
      margin-left: 33.3333333333%;
      padding-left: $column-gap;
      padding-right: $column-gap;
    }
    @include from($fullhd) {
      width: 50%;
    }

    a {
      text-decoration: underline;
    }
  }

  .box {

    @include until($desktop) {
      padding: 0;
    }

    @include from($widescreen) {
      margin-left: 25%;
    }

    @include from($fullhd) {
      width: 66.6666666667%;
    }
  }

}

// Bild i text
.content {


  figure {
    margin-left: 0;
    margin-right: 0;

    @include from($widescreen) {
      text-align: center;

      figcaption {
        text-align: left;
      }
    }
  }

  p > img {
    display: inline-block;
    margin-top: 1rem;

    @include from($tablet) {
      &:first-of-type {
        padding: 1%;
        padding-left: 0;
        padding-right: 0;
        max-width: 99%;
      }

      &:first-of-type:not(:only-of-type) {
        max-width: 49%;
        padding-right: 1%;
      }

      &:nth-of-type(2) {
        max-width: 49%;
        padding: 1%;
        padding-right: 0;
      }
    }

    @include from($widescreen) {
      margin-bottom: 1rem;
      margin-top: 2rem;

      &:first-of-type {
        margin-left: -53%;
        max-width: 155%;
      }

      &:first-of-type:not(:only-of-type) {
        max-width: 77%;
        padding-right: 2%;
      }

      &:nth-of-type(2) {
        margin-right: -5%;
        max-width: 77%;
        padding-left: 2%;
      }
    }

    @include from($fullhd) {
      &:first-of-type {
        margin-left: -70.5%;
        max-width: 207%;
      }

      &:first-of-type:not(:only-of-type) {
        max-width: 103%;
      }

      &:nth-of-type(2) {
        margin-right: -38%;
        max-width: 103%;
      }
    }

    &+ em {
      display: block;

      @include from($widescreen) {
        position: absolute;
        left: 0;
      }
    }
  }

  figure figcaption,
  img + em,
  .caption {
    font-style: normal;
    @include monospace;
    margin-bottom: 1.5rem;
    padding-top: 0.5rem;

    @include from($widescreen) {
      border-top: 1px solid $black;
      width: 25%;
      float: left;
    }
  }

  @include from($widescreen) {
    margin-top: 1rem;

    figure figcaption {
      margin-top: 2.625rem;
    }
  }
}

.content > figure,
.content .columns {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;

  &+ .columns {
    margin-top: -0.625rem;
  }

  @include until($widescreen) {
    &+ .caption {
      margin-top: -1rem;
    }
  }

  @include from($widescreen) {
    margin-top: 4rem !important;
  }
}

.content > figure {
  @include from($widescreen) {
    margin-bottom: 3rem !important;
  }
}

// Definition list, siffror

.content dl:not(:last-child) {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.content dd {
  @include monospace;
  margin-left: 0;

  &:first-of-type {
    clear: left;
  }

  @include from($widescreen) {
    padding: 0 7rem;

    &:only-of-type {
      padding: 0 20rem;
    }
  }
}

.content dt {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: -0.05em;
  line-height: 0.9;

  @include from($tablet) {
    font-size: 3rem; //12.5rem;
  }

  @include from($desktop) {
    font-size: 5rem; //12.5rem;
  }

  @include from($widescreen) {
    font-size: 8rem; //12.5rem;
  }

  @include from($fullhd) {
    font-size: 9rem; //12.5rem;
  }

  &:only-of-type {
    @include from($tablet) {
      font-size: 7.5rem;
    }
    @include from($desktop) {
      font-size: 12.5rem;
    }
    @include from($widescreen) {
      font-size: 22rem;
    }
  }
}

.content dt,
.content dd {
  text-align: center;
  margin-bottom: 1.5rem;

  @include from($tablet) {
    &:first-of-type:not(:only-of-type) {
      width: 48%;
      float: left;
    }

    &:nth-of-type(2) {
      margin-left: 50%;
    }
  }
}

.content dd:first-of-type:not(:only-of-type) {
  @include from($tablet) {
    margin-bottom: 0;
  }
}


.content {
  margin-bottom: 2rem;
}

// Marginbottoms
.content p:not(:last-child) {
  margin-bottom: .5em;
}

.content > p:last-of-type {
  // margin-bottom: 2rem;
}

.content blockquote {
  margin-top: 0.75em;
}
.content blockquote:not(:last-child) {
  margin-bottom: 0.75em;
}

.content dl:not(:last-child),
.content ol:not(:last-child),
.content ul:not(:last-child),
.content pre:not(:last-child),
.content table:not(:last-child) {
  margin-bottom: 1.75em;
}

.content h1,
.content h2,
.content h3,
.content h4 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.25em;
  letter-spacing: -0.03em;
}

.content h1,
.content h2 {
  @include from($desktop) {
    font-size: 2.2em;
    letter-spacing: -0.05em;
  }
}

.content h5,
.content h6 {
  font-size: 1em;
  font-weight: bold;
}

@include from($desktop) {
  .content h2:not(:first-child) {
    margin-top: 3rem;
  }

  .content h3:not(:first-child) {
    margin-top: 1.75rem;
  }
}



// Specific pages

.section {
  @include until($desktop) {
    padding-top: 1.75rem;
    padding-bottom: 1rem;

    &#prices {
      padding-top: 2.5rem;
    }
  }
}

#featured.section {
  padding-bottom: 0;

  @include from($widescreen) {
    padding-top: 3rem;
    padding-bottom: 6rem;
  }
}

.teaser-small figure,
#featured figure {
  margin-bottom: 1rem;

  @include from($widescreen) {
    margin-bottom: 2rem;
  }
}

#featured figure {
  @include from($widescreen) {
    padding-top: 50%;
  }
}

#featured .links {
  margin-top: 3.5rem;

  .button:first-child {
    margin-right: 1.5rem;
  }
}

// #news .container,
#project .container {
  @include from($desktop) {
    border-bottom: 1px solid;
}
}

#mission.section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 0;
  padding-left: 0;
}
#mission .column {
  // margin-bottom: 2rem;
}
#mission figure {
  margin-bottom: .5rem;
}

#partners.section {
  padding-top: 1.5rem;
  padding-bottom: 2rem;

  @include until($desktop) {
    font-size: 0.7em;
  }
}

#page.section {
  padding-top: 3rem;

  @include from($desktop) {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
}

#contact {
  h3 {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 1.5em;
  }
}

.page-contact .content .columns {
  margin: 0;
}

.prices {
  figure {
    margin: 0 auto;
    max-width: 300px;
  }

  h2.title {
    margin-bottom: 1rem !important;

    @include from($desktop) {
      margin-bottom: 3rem !important;
    }
  }

  @include until($desktop) {
    .columns .column .columns .column {
      padding-top: 0;

      &:first-of-type {
        padding-top: 1.5rem;
      }
    }
  }
}

.services {
  figure {
    margin: 0 auto 1rem;
  }
}

// Page

.columns.columns-header {
  margin-bottom: 4rem !important;

  @include from($widescreen) {
    margin-bottom: 6rem !important;
  }
}

.page-date {
  margin: -1rem 0 0.5rem;
}

// Teaser

.columns.teaser {
  margin-top: 0 !important;
  margin-bottom: 1rem;

  .column:first-of-type {
    padding-bottom: 0;
  }
}

.teaser-small h3 {
  @include from($desktop) {
    font-weight: bold;
    margin-bottom: 1rem !important;
  }
}

.content .teaser-crew figure:not(:last-child) {
  margin-bottom: 1rem;
}
.column .teaser-crew .title:not(:last-child) {
  margin-top: 0;
}
.teaser-crew {
  margin-bottom: 2rem;

  @include from($desktop) {
    margin-bottom: 4rem;
  }
}

.image-logo {
  margin: 1rem auto;
  img {
    width: auto !important;
    max-height: 100% !important;
  }
}


// Form

.response {
  @extend .notification;
  @extend .is-warning;
  margin-top: 1em;
}

#newsletter #mc_embed_signup div.mce_inline_error {
  @extend .help;
  @extend .is-danger;
  font-weight: normal;
  background-color: inherit;
  padding: 0;
  margin: 0;
}

.is-tiny {
  font-size: 0.75rem !important;
  line-height: 1.1;
}

.field-label .label {
  white-space: nowrap;
  font-weight: normal;
}

.field.is-horizontal {
  margin-top: 1em;
}

.input {
  @include until($desktop) {
    font-size: 1rem;
    height: 2.25rem;
  }
}

// Accordion
.accordion-head {
  &::before {
    @include monospace;
    font-size: 1.5rem !important;
    font-weight: normal;
    content: '+';
    padding-right: 0.5rem;
    color: $purple;
  }

  &.open::before {
    content: '−';
  }
}

.accordion-head:hover {
  cursor: pointer;
}
.accordion-body {
  display: none;
}
.accordion-body.open {
  display: block;
}


// Menu

.menu {
  border-bottom: 1.5rem solid $grey-light;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
}

.menu-list a {
  display: inline !important;
  padding: 0 !important;
}

.menu-label:not(:first-child) {
  margin: 0.75rem 0 !important;
}

.menu-label {
  @include monospace;
  text-transform: none !important;
}

// Misc

hr {
  clear: left;
}
