//
// Custom styles
//


// Positioning

.header {
  position: relative;
  top: 4rem;
}

.view-header-box {
  position: absolute;
  top: 0;
  left: 3rem;
  width: 18rem;
  height: 12rem;
  z-index: -1;
}

// Fonts

.display-1 {
  line-height: 1.39;
  margin-top: -5.5rem;
}

.display-2 {
  color: $black;
}

.lead {
  font-family: $headings-font-family;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}


// Content

.content h2 {
  float: left;
  width: 18.25rem;
  text-transform: uppercase;
}
.content p {
  margin-left: 20.3125rem;
  margin-bottom: 10rem;
}

blockquote {
  font-family: $headings-font-family;
  line-height: 1.83;
  position: relative;
}

blockquote img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}


// Navigation

.btn,
.nav-link {
  font-family: $headings-font-family;
}

.flex-column .nav-link {
  font-size: 1.5rem;
  color: $black;
}

.icon-arrow {
  background: url('../images/pil.png') no-repeat 0 0.3125rem;
}

.icon-arrow-blue {
  background: url('../images/pil-bla.png') no-repeat 0 0.3125rem;
}

.nav-menu-main {
  font-size: 1.875rem;
}

.nav-menu-secondary {
  font-size: 1.125rem;
  line-height: 1;

  li:first-child a {
    border-right: 1px solid $blue;
  }
}


// Lists

ul.list-random {
  margin-bottom: 0;
}

.list-random-item {
  position: relative;

  .media-body {
    z-index: 99;
  }
}

.list-random-item-1 {
  margin-bottom: 15rem;
}

.list-random-image {
  position: absolute;
}

.list-random-image-1 {
  left: 4rem;
  top: 0;
}

.list-random-image-2 {
  bottom: 0;
  right: 11rem;
}

.nav-link .fa-fw {
  width: 3rem;
  float: left;
  padding: 0.25rem 0 1rem;
}



// Misc shit

::selection {
  color: $black;
  background: $yellow;
}

::-moz-selection {
  color: $black;
  background: $yellow;
}
