

@font-face {
    font-family: 'GT Zirkon';
    src: url('../fonts/GT-Zirkon-Regular.woff') format('woff2'),
         url('../fonts/GT-Zirkon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Zirkon';
    src: url('../fonts/GT-Zirkon-Black.woff') format('woff2'),
         url('../fonts/GT-Zirkon-Black.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/SpaceMono-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/SpaceMono-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
