<ul class="nav flex-column">
  {% for link in include.links %}
    <li class="nav-item pl-sm-2 {% unless forloop.last %}mb-2b mb-sm-3b{% endunless %}">
      <a class="{% if link.style == 'button' %}mb-1 btn btn-primary btn-block{% else %}nav-link p-0{% endif %}
        {% unless link.style %}icon-arrow pl-4{% endunless %}" href="{{link.url}}">
        {% if link.style and link.style != 'button' %}
          <i class="fa fa-{{link.style}} fa-fw" aria-hidden="true"></i>
        {% endif %}
        {{link.title}}
      </a>
    </li>
  {% endfor %}
</ul>
