---
layout: global
---

<div class="container">

  <div class="row">
    <div class="col-sm-8">

      {{content}}

    </div>
    <div class="col-sm-4">

      <a href="{{site.baseurl}}/nyheter/"><h3>Nyheter</h3></a>
      <hr>
      <ul class="list-unstyled padding">
        {% for post in site.categories.type-story | limit:5 %}
          <li>
            <a href="{{site.baseurl}}{{post.url}}"><h4>{{post.title}}<br>
            <small>{{ post.date | date: "%-d %B %Y" }}</small></h4></a>
        </li>
        {% endfor %}
      </ul>
<!--
      <div class="list-group padding">
        {% for item in site.data.taxonomy.blog %}
          <a href="#" class="list-group-item">{{item}}</a>
        {% endfor %}
      </div>-->

    </div>
  </div>

</div>
