---
layout: default
---

<header class="site-header-video" role="banner">

  <div class="navbar-wrapper-video">
    <div class="container">
      {% include panels/navbar.html %}
    </div>
  </div>

  <div class="embed-responsive embed-adapting">
    <video autoplay muted loop poster="/uploads/cloudthoughts_poster.png" id="header-video" class="embed-responsive-item embed-center">
      <source src="/uploads/cloudthoughts-online.mp4" type="video/mp4">
    </video>
  </div>
</header>

<section class="container header-start-video pb-3b">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-1 video"><span class="bg-primary text-white text-uppercase">{{page.title}}</span></h1>
    </div>
  </div>

  <div class="row mb-2b mt-lg-2b mb-lg-4">
    <div class="col-lg-7 offset-lg-5">
      <p class="lead text-primary pl-lg-5">{{page.description}}</p>
    </div>
  </div>
  <nav class="nav flex-column flex-lg-row mb-2b">
    {% for item in page.links %}
      <a class="flex-lg-fill nav-link pl-4 pl-lg-3 pr-lg-5 pt-0 pb-1 pb-lg-0 icon-arrow" href="{{site.baseurl}}{{item.link}}">{{item.title}}</a>
    {% endfor %}
  </nav>
</section>


<section id="projects" class="bg-faded">
  <div class="container py-3b pb-lg-3c">
    <div class="row">
      {% include panels/projects-small.html %}
    </div>
  </div>
</section>

{% include panels/webprojects.html %}

{% include panels/contact-services.html %}

<div class="py-3 py-lg-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 offset-lg-3">
        {% include content/partners.html %}
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
