---
layout: default
---

<section class="hero is-fullheight is-primary">
  {% include header.html %}

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      {% if page.image %}
        <figure class="image is-2by1">
          <img src="{{site.baseurl}}{{page.image}}">
        </figure>
      {% endif %}
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <div class="container has-text-centered">
      <a class="link-down" href="#content"><img src="{{site.baseurl}}/assets/images/pil.svg" alt="down" width="100" height="100"></a>
    </div>
  </div>
</section>

<div id="content"></div>

<article id="page" class="section is-medium page-{{page.ref}}">
  <div class="container page">
    <div class="columns columns-header">
      <div class="column is-10-fullhd">
        {% if page.is_post %}
          <div class="page-date">
            {{ page.date | date: "%Y.%m.%d"}}
          </div>
        {% endif %}
        <h1 class="title is-5 is-size-4-tablet is-size-3-desktop is-size-1-widescreen is-spaced">{{page.title}}</h1>
        <p class="subtitle is-6 is-size-3-widescreen">{{page.ingress-text}}</p>
      </div>
    </div>

    {% if page.clients %}
    <aside class="project has-text-right-widescreen has-text-centered">
      <h2 class="title is-6 is-hidden-widescreen">Uppdrag</h2>
        {% for item in page.clients %}
          {% assign clients=site.clients | where:"path", item %}
          {% assign client=clients[0] %}
          <figure class="image image-logo">
            <a href="{{site.baseurl}}{{client.url}}">
              <img src="{{site.baseurl}}{{client.logotype}}" alt="{{client.title}}" title="{{client.title}}">
            </a>
          </figure>
        {% endfor %}
      </aside>
    {% endif %}


    {% for item in site.data.menu[page.lang].primary %}
      {% if page.menu == item.ref and item.items %}
        <aside class="menu" id="accordion-menu">
          <ul class="menu-list accordion-body">
            {% for item in item.items %}
              {% if item.url %}
                <li><a class="{% if item.url==page.url %}is-active{% endif %}" href="{{site.baseurl}}{{item.url}}">{{item.title}}</a>
                  {% if item.items %}
                    <ul>
                      {% for subitem in item.items %}
                        <li><a class="{% if subitem.url==page.url %}is-active{% endif %}" href="{{site.baseurl}}{{subitem.url}}">{{subitem.title}}</a>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% else %}
              </ul>
              <p class="menu-label accordion-head">{{ item.title }}</p>
              <ul class="menu-list accordion-body">
              {% endif %}
            {% endfor %}
          </ul>
        </aside>
      {% endif %}
    {% endfor %}


    {% if page.links %}
      <aside class="facts has-text-right-widescreen">
        <h2 class="title is-6">{{site.t[page.lang].read-more}}</h2>
        <ul>
          {% for item in page.links %}
            <li><a href="{{site.baseurl}}{{item.url}}">{{item.title}}</a></li>
          {% endfor %}
        </ul>
      </aside>
    {% endif %}


    <div class="content">

      {{content}}

      {% if page.faq %}
        {% include faq.html %}
      {% endif %}
    </div>
  </div>
  <hr>
</article>

{% if page.path contains "_themes" %}

  {% assign client=site.clients | where:"lang", page.lang | sort:date | reverse %}

  <!-- check if there are any posts -->
  {% for item in client %}
    {% if item.categories contains page.path %}
      {% assign ifclients=true %}
    {% endif %}
  {% endfor %}

  {% if ifclients %}
    <section id="projects" class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-7-widescreen has-text-centered">
            <h2 class="title is-6 is-size-4-tablet is-size-3-widescreen section-title">{{site.t[page.lang].project-title}}</h2>
            <p>{{site.t[page.lang].project-related}} {{page.title}}.</p>
          </div>
        </div>
        <div class="columns partners is-mobile is-multiline is-vcentered is-centered is-variable is-tablet-8">
          {% for item in client %}
            {% if item.categories contains page.path %}
              {% include teaser-client.html %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}


  <!-- Limit to last three years -->
  {% capture last_years %}{{ site.time | date: "%Y" | minus:3 }}{% endcapture %}
  {% assign news=site.posts | where:"lang", page.lang | sort:date | reverse %}
  {% assign news_recent=site.posts | where:"lang", page.lang | sort:date | reverse %}

  <!-- check if there are any posts -->
  {% for item in news %}
    {% if item.categories contains page.path %}
      {% assign item_year = item.date | date: "%Y" %}
      {% if item_year >= last_years %}
        {% assign ifnews=true %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if ifnews %}
    <section id="projects" class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-7-widescreen has-text-centered">
            <h2 class="title is-6 is-size-4-tablet is-size-3-widescreen section-title">{{site.t[page.lang].news}}</h2>
            <p>{{site.t[page.lang].news-related}} {{page.title}}.</p>
          </div>
        </div>
        <div class="columns is-desktop is-multiline">
          {% for item in news %}
            {% if item.categories contains page.path %}
              {% assign item_year = item.date | date: "%Y" %}
              {% if item_year >= last_years %}
                {% include teaser-small.html %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}

{% endif %}


<!-- POST: related posts from same client -->
{% for client_path in page.clients %}

  {% assign clients=site.clients | where:"path", client_path %}
  {% assign news=site.posts | where:"lang", page.lang | sort:date | reverse %}

  <!-- check if there are any posts -->
  {% for item in news %}
    {% if item.clients contains client_path and item.url != page.url %}
      {% assign ifnews=true %}
    {% endif %}
  {% endfor %}

  {% if ifnews %}
    <section id="projects" class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-7-widescreen has-text-centered">
            <h2 class="title is-6 is-size-4-tablet is-size-3-widescreen section-title">{{site.t[page.lang].news}}</h2>
            <p>{{site.t[page.lang].news-related}} {{clients[0].title}}.</p>
          </div>
        </div>
        <div class="columns is-desktop is-multiline">
          {% for item in news %}
            {% if item.clients contains client_path and item.url != page.url %}
              {% include teaser-small.html %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}
{% endfor %}


{% if page.services.size > 0 %}
  {% include services.html %}
{% endif %}

{% if page.prices.size > 0 %}
  {% include prices.html %}
{% endif %}

{% if page.contact %}
  {% include contact.html %}
{% endif %}

{% if page.lang == 'sv' and page.is_post %}
  {% include newsletter.html %}
{% endif %}

{% include footer.html %}
