---
layout: global
---

<article>
  <div class="container">
    {% include content/page-header.html %}
    <div class="row">
      <div class="col content">
        {% assign paragraphs = content | split:'</p>' %}
        {% for paragraph in paragraphs limit:2 %}
          {{ paragraph | append: '</p>' }}
        {% endfor %}
        {% if page.banners.size > 0 %}
      </div>
    </div>
  </div>
  <div class="container-fluid px-0 mb-3 my-lg-4">
    {% include panels/banners.html %}
  </div>
  <div class="container mb-3">
    <div class="row">
      <div class="col content">
        {% endif %}
        {% for paragraph in paragraphs offset:2 limit:1 %}
          {{ paragraph | append: '</p>' }}
        {% endfor %}

        {% if page.quotes %}
          {% include panels/quote.html %}
        {% endif %}

        {% for paragraph in paragraphs offset:3 %}
          {{ paragraph | append: '</p>' }}
        {% endfor %}
      </div>
    </div>
  </div>

  {% if page.contact %}
    {% include panels/page-contact.html %}
  {% endif %}

  <div class="bg-faded py-3 py-lg-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 offset-lg-3">
          {% include content/partners.html partners=page.partner-links partner-text=page.partner-text %}
        </div>
      </div>
    </div>
  </div>

</div>
</article>
