---
layout: default
---

<header class="site-header bg-success" role="banner">

  {% include panels/navbar.html %}

  <div class="container header">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 text-center">
        <img src="{{site.baseurl}}{{page.header-image}}" class="w-40" alt="">
        <h1 class="display-1"><span class="bg-info text-white text-uppercase">{{page.title}}</span></h1>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container mt-3 pt-3 pb-4">
    <div class="row mb-4">
      <div class="col-md-7 offset-md-5">
        <p class="lead text-primary px-4">{{site.description}}</p>
      </div>
    </div>
    <nav class="nav flex-column flex-sm-row mb-1">
      {% for item in page.links %}
        <a class="flex-sm-fill nav-link pl-3 pr-5 py-0 icon-arrow" href="{{site.baseurl}}{{item.link}}">{{item.title}}</a>
      {% endfor %}
    </nav>


    <div class="row">
      <div class="col">
        <div class="card">

          <div class="card-block">
            <h2 class="card-title"><a class="icon-arrow-blue pl-3" href="{{site.baseurl}}{{page.news-flash[0].link}}">{{page.news-flash[0].title}}</a></h2>
            <p class="card-text text-primary">{{page.news-flash[0].content}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="container-fluid px-0">
  <div class="row no-gutters">
    <div class="col-6">
      <div class="card border-0">
        <img class="card-img" src="{{site.baseurl}}{{page.banners[0].image}}" alt="">
        <div class="card-img-overlay">
          <h3 class="card-header border-0">
            <a href="{{site.baseurl}}{{page.banners[0].link}}" class="bg-primary text-success text-uppercase px-2 py-1">{{page.banners[0].title}}</a>
          </h3>
        </div>
      </div>
      <div class="card border-0">
        <img class="card-img" src="{{site.baseurl}}{{page.banners[1].image}}" alt="">
        <div class="card-img-overlay">
          <h3 class="card-header border-0">
            <a href="{{site.baseurl}}{{page.banners[1].link}}" class="bg-danger text-warning text-uppercase px-2 py-1">{{page.banners[1].title}}</a>
          </h3>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card border-0">
        <img class="card-img" src="{{site.baseurl}}{{page.banners[2].image}}" alt="">
        <div class="card-img-overlay">
          <h3 class="card-header border-0">
            <a href="{{site.baseurl}}{{page.banners[2].link}}" class="bg-success text-info text-uppercase px-2 py-1">{{page.banners[2].title}}</a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="projects">

  {% include panels/projects.html %}

</section>

<section id="contact" class="bg-info">
  <div class="container pt-3">

    <div class="row">
      <div class="col-lg-10 offset-lg-1 text-center px-3">

        <h2 class="display-2 text-white">{{page.contact-title}}</h2>
        <p class="text-white">{{page.contact-text}}</p>

      </div>
    </div>

    <div class="row">
      <div class="col">
        <ul class="list-unstyled list-random mt-2">
          {% for item in site.crew %}
            <li class="media text-white text-center list-random-item  list-random-item-{{forloop.index}}">
              <div class="media-body pt-1 pb-2">
                <small>
                  <strong>{{item.title}}</strong>,
                  {{item.job}},
                  {{item.phone}},
                  <a href="mailto:{{item.mail}}" class="text-white">{{item.mail}}</a>
                </small>
              </div>
              <img class="list-random-image list-random-image-{{forloop.index}}" style="" src="{{site.baseurl}}{{item.image}}" alt="">
            </li>
          {% endfor %}

        </ul>
      </div>
    </div>

  </div>
</section> <!-- /contact -->
{% include footer.html %}
