---
layout: default
---

<section class="hero is-fullheight is-front is-primary">
  {% include header.html %}

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">{{page.title}}</h1>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <div class="container has-text-centered">
      <a class="link-down" href="#content"><img src="{{site.baseurl}}/assets/images/pil.svg" alt="down" width="80" height="80"></a>
    </div>
  </div>
</section>


{% assign project=site.projects | where:"lang", page.lang | sort:date | reverse %}

<div id="content"></div>
<section id="featured" class="section">
  <div class="container has-text-centered">
      {% for item in project limit:1 %}
        <figure class="image is-2by1">
          <img src="{{site.baseurl}}{{item.image}}" alt="{{item.title}}">
        </figure>
        <div class="columns is-centered">

        <div class="column is-10">
          <h2 class="title is-1 is-spaced"><a href="{{site.baseurl}}{{item.url}}">{{item.title}}</a></h2>
          <p class="subtitle is-3">{{item.excerpt}}</p>
          {% for link in item.links %}
            <a class="button" href="{{link.url}}">{{link.title}}</a>
          {% endfor %}
        </div>
      </div>

      {% endfor %}

  </div>
</section>

<section id="project" class="section">
  <div class="container">
    {% for item in project offset:1 limit:2 %}
      {% include teaser.html %}
    {% endfor %}
  </div>
</section>

<section id="mission" class="section">
  <div class="container mission has-background-info">
    <h2 class="title is-2">{{page.mission.title}}</h2>
    <div class="columns">
      {% for item in page.mission.item %}
        <div class="column">
          <img src="{{item.image}}">
          <h3 class="title is-6">{{item.title}}</h3>
          <p>{{item.text}}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="news" class="section">
  <div class="container">
    <h2 class="title is-2"><a href="https://news.digidemlab.org/">{{site.t[page.lang].news}}</a></h2>
    <div class="columns">
      {% include teaser-small.html limit=2 %}
    </div>
    <div class="has-text-right section-more is-size-6">
      <a href="https://news.digidemlab.org/" class="read-more">{{site.t[page.lang].more-news}}</a>
    </div>
  </div>
</section>

<section id="banner" class="section">
  <img src="holder.js/100px75p?theme=social">
</section>

{% include footer.html %}
